.kotak {
  width: 100px;
  height: 100px;
  background-color: white;
}
.kotak .bulet {
  width: 30px;
  height: 30px;
  margin: 35px auto;
  background-color: black !important;
  border-radius: 50%;
}
.kotak .merah {
  background-color: red !important;
}
.align-center {
  text-align: center;
}
.margin-center {
  margin: 220px auto;
}
